<h1>EarthForge</h1> 

<div class="container">


<p>Build, refine and  track sustainiable ideas.</p>
<nav>
  <a href="/login">Login</a> |
  <a href="/register">Sign Up</a>
</nav> 

<link rel="stylesheet" href="/styles.css">

</div>